.dishes{
  background: #fff;
  height: 600px;
  font-family: 'Roboto', sans-serif;
}
.dishes h2{
  text-align: center;
  font-size: 42px;
  font-family: 'Abril Fatface', cursive;
  color: rgb(51, 51, 51);
}

.dishes-nav{
  position:relative;
  left:20em;
  top:3em;
}
.dishes-nav ul li{
  float:left;
  list-style: none;
  font-size: 18px;
  text-align: center;
}
.dishes-nav a{
  color:#b8b8b8;
  text-transform: uppercase;
  padding:8px 30px;
 }
.dishes-nav a:hover , a.active{
  background: #000;
  border-radius: 3px;
  padding:8px 30px;
  text-decoration: none;
}


