.features{
	height: 400px;
}

.features h2{
  text-align: center;
  font-size: 42px;
  font-family: 'Abril Fatface', cursive;
  color: rgb(51, 51, 51);
}
.features p{
	display:block;
	padding-left:10px;
	padding-right: 20px;
	width: 350px;
	color:rgb(51, 51, 51);
 	font-size: 18px;
 	font-family: 'Roboto', sans-serif;
  position: relative;
  text-align: left;
}

.coctails-icon:before{
	content:url(../images/icons/coctails.jpg);
}

.burger-icon:before{
	content: url(../images/icons/burger.jpg);
}
.restaurant-icon:before{
	content: url(../images/icons/pin.jpg);
}

.client-icon:before{
	content: url(../images/icons/heart.jpg);
}
.reward-icon:before{
	content: url(../images/icons/reward.jpg);
}

.service-icon:before{
	content: url(../images/icons/service.jpg);
}
.coctails-icon:before, 
.burger-icon:before,
.restaurant-icon:before,
.client-icon:before,
.reward-icon:before,
.service-icon:before{
	float:left;
	padding-right: 30px;
  position: relative;
  top:-10px;
}

.feature-icon{
	display:inline-block;
	align: center;
 }


