.features{
	height: 400px;
}

.features h2{
  text-align: center;
  font-size: 42px;
  font-family: 'Abril Fatface', cursive;
  color: rgb(51, 51, 51);
}
.coctails-icon{
	background: url(../images/icons/coctails.svg) no-repeat ;
	height: 100px;
}