.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

html {
  font-family: sans-serif;
  width: auto;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  float: left;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}
h2,
h3 {
  page-break-after: avoid;
}

a{
  color:#fff;
  text-decoration: none;
}

.dishes h2, .features h2 {
  text-align: center;
  font-size: 42px;
  font-family: 'Abril Fatface', cursive;
  color: rgb(51, 51, 51);
}

.navbar {
  display: none;
}



/*responsive*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
